h2{
    color: red;
    font-size: 55pt;
    text-align: center;
}

body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    background-color: azure;
}

div{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crush_info{
    display: flex;
    flex-direction: column;
    border: 0;
    align-items: flex-start;
}

img{
    width: 150px;
    height: 120px;    
}